html,
body {
	font-family: 'Roboto Light', Helvetica, sans-serif;
	color: #777;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed Light', Helvetica, sans-serif;
	font-weight: 300;
}


h1 {
	color: #fff;
	text-transform: uppercase;
}

@media all and (max-width: 739px) {
	h1 {
		font-size: 50px;
	}
}

@media all and (min-width: 740px) {
	h1 {
		font-size: 70px;
	}
}

h2 {
	font-size: 42px;
	color: #e77e04;
}
h3 {
	font-size: 36px;
	color: #2b3f4c;
}
h4 {
	font-size: 26px;
	color: #e77e04;
	text-transform: uppercase;
}

/* mouse over link */
a:hover {
    color: #e77e04;
}

a {
	vertical-align: middle;
	text-decoration: none;
}

/* Floats*/

.left {
	float: left;
}

.right {
	float: right;
}

/* Bars */

.bar {
	background: #fff;
	clear: both;
	width: 100%;
}

/* Clears */
.clear {
	clear: both;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}
	

/*sprites
	.icon-logo, .icon-facebook, .icon-twitter, .icon-google, 
	.icon-tagSmall, .icon-tagBig, .icon-cloudSmall,  .icon-cloudBig, .icon-mapSmall,
	.icon-mapBig, .icon-apple, .icon-google, .icon-amazon {
		background-image: url('images/icon_sprite.png');
		background-repeat: no-repeat;

	}*/

/* Header section*/
.headerstrip {
	position: relative;
}

/*logo icon in header*/
.icon-logo:before{
	background: url('../images/icon_sprite.png');
	content: '';
	display: inline-block;
	height: 65px;
	width:65px;
	vertical-align: middle;
}

/*logo text in header*/
.logo {font-size: 30px;
	color: #2b3f4c;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* this is to make text white and font size20 pixels in the hero section*/
.heroText{
	color: #fff;
	font-size: 20px;
	line-height: 200%;
}

/* This is the hero image background section */

.herostrip {
	background: #e77e04 center no-repeat;
	background-image: url("../images/intro_bg.jpg");
	background-size: cover;
	padding: 50px 0;
	position: relative;
}


/* media queries dor the phone image*/
@media screen and (max-width: 739px) {
	
	.phone_sm {
		display: none;
	}
}


@media screen and (min-width: 740px) and (max-width: 979px) {
	.phone_md {
		position: absolute;
		bottom:0px;
		right: -21px;
	}
}

@media screen and (min-width: 980px) {
	.phone_lg {
		position: absolute;
		bottom:0px;
		right: 120px;
	}
}

/*this is the 'download now' button in the hero section*/
.hero_button {
	font-size: 20px;
	color: #e77e04;
	padding: 10px 30px;
	border-radius: 5px;
	background-color: #fff;
	border-color: #fff;
	text-transform: uppercase;
}



/*code for three options/features boxes and their icons*/

@media screen and (max-width: 739px) {
	.optionsSmall {
		padding: 10px 10px 0px 10px;
		text-align: left;
		line-height: 150%;
		vertical-align: middle;
	}

	.options h4:after {
		background: url('../images/icon_sprite.png');
		content: '';
		display: inline-block;	
	}

	.icon-tagSmall h4:after {
		background-position: 0 -80px;
		height: 32px; 
		width:30px;
		margin: 0px 20px;
	}

	.icon-cloudSmall h4:after {
		background-position: -40px -80px;
		height: 28px; 
		width:37px;
		margin: 0px 20px;
	}

	.icon-mapSmall h4:after {
		background-position: -80px -80px;
		height: 33px; 
		width:30px;
		margin: 0px 20px;
	}
}

@media screen and (min-width: 740px) {
	.options {
		padding: 60px 20px 60px 20px;
		text-align: center;
		line-height: 150%;
	}

	.options h4:before {
		background: url('../images/icon_sprite.png');
		content: '';
		display: block;	
	}

	.icon-tagBig h4:before {
		background-position: 0 -120px;
		height: 70px; 
		width:70px;
		margin: 0 auto 20px;
	}

	.icon-cloudBig h4:before {
		background-position: -80px -120px;
		height: 70px; 
		width:74px;
		margin: 0 auto 20px;
	}

	.icon-mapBig h4:before {
		background-position: -160px -120px;
		height: 70px; 
		width:50px;
		margin: 0 auto 20px;
	}
}




/* This is the gray color strip for the photo section */
.gallerystrip {
	background: #eee center no-repeat;
	background-size: cover;
	padding: 75px 0;
}

@media screen  and (max-width: 979px) {
	.gallerystripMed {
		padding: 25px 0 50px;
	}
}

.galleryText {
	line-height: 200%;
}
 
.photos:after {
  box-sizing: inherit;
}

@media screen and (min-width: 740px) and (max-width: 979px) {
	.gallery_md_top {
		margin-top: 120px;
	}
}


.photos .fs-carousel-enabled img {
	width: 100%;
}

.fs-carousel-enabled a {
	margin: 0 10px 0 0;
}



/* This is the download now section color strip */

@media all and (max-width: 739px) {
	.downloadStrip {
		height: 400px;
		text-align: left;
	}
}
@media all and (min-width: 740px) {
	.downloadStrip {
		height: 255px;
		text-align: center;
	}
}


/* This is for the download buttons */

@media all and (max-width: 499px) {
	.download_button {
		background: black url(../images/icon_sprite.png) no-repeat;
		display: inline-block;
		height: 60px;
		width: 295px;
		overflow: hidden;
		text-indent: 200%;
		white-space: nowrap;
		border-radius: 5px;
		margin: 5px 0px 5px 0px;
	}
}

@media all and (min-width: 500px) and (max-width: 739px) {
	.download_button {
		background: black url(../images/icon_sprite.png) no-repeat;
		display: inline-block;
		height: 60px;
		width: 465px;
		overflow: hidden;
		text-indent: 200%;
		white-space: nowrap;
		border-radius: 5px;
		margin: 5px 0px 5px 0px;
	}
}

@media all and (min-width: 740px) {
  .download_button {
  	background: black url(../images/icon_sprite.png) no-repeat;
	display: inline-block;
	height: 60px;
	width: 200px;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	border-radius: 5px;	

  }
}

.icon-apple {
	background-position: center -200px;
}

.icon-google {
	background-position: center -260px;
}

.icon-amazon {
	background-position: center -320px;	
}

/* This is the footer*/
.footerStrip {
	height: 200px;
	overflow: auto;
}

/* text in footer*/
.disclosureText {
	font-size: 16px;
	color: #2b3f4c;
	display: inline-block;
}

@media screen and (max-width: 739px) {
	.disclosureText {
		text-align: center;
		padding: 0px 10px 0px 10px;
	}
}
@media screen and (min-width: 740px) {
	.disclosureText {
		text-align: left;
		padding: 0px 10px 0px 10px;
	}
}


/* copyright text in footer*/
.copyText {
	color: #777
}

/* This is for the social media icons in the footer*/
.social_button {
	background: black url(../images/icon_sprite.png) no-repeat;
	display: inline-block;
	height: 40px;
	width: 40px;
	overflow: auto;
	text-indent: 200%;
	white-space: nowrap;
	border-radius: 5px;
	margin: 7px;
}

@media screen and (max-width: 739px) {
	.socialbut{
		text-align: center;
		padding: 15px 0px 15px 0px;
	}
}
@media screen and (min-width: 740px) {
	.socialbut{
		text-align: right;
	}
}

@media screen and (max-width: 739px) {
	.copyright{
		display: block;
		padding: 15px;
	}
}

.icon_facebook {
	background-position: -80px 0; 
}

.icon_twitter {
	background-position: -120px 0;
}

.icon_googleplus {
	background-position: -160px 0;
}

.line {
	border-top: solid;
    border-width: 2px;
	    }










