	html,
	body {
		font-family: 'Roboto', Helvetica, sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Roboto Condensed', Helvetica, sans-serif;
		font-weight: 300;
	}
	h1 {
		font-size: 70px;
		color: #fff;
		text-transform: uppercase;
	}
	h2 {
		font-size: 42px;
		color: #e77e04;
	}
	h3 {
		font-size: 36px;
		color: #2b3f4c;
	}
	h4 {
		font-size: 26px;
		color: #e77e04;
		text-transform: uppercase;
	}

	.left {
		float: left;
		padding: 10px;
	}

	.right {
		float: right;
		padding: 0px 10px;
	}

/*sprites
	.icon-logo, .icon-facebook, .icon-twitter, .icon-google, 
	.icon-tagSmall, .icon-tagBig, .icon-cloudSmall,  .icon-cloudBig, .icon-mapSmall,
	.icon-mapBig, .icon-apple, .icon-google, .icon-amazon {
		background-image: url('images/icon_sprite.png');
		background-repeat: no-repeat;

	}*/

	.icon-logo:before{
		background: url('../images/icon_sprite.png');
		content: '';
		display: inline-block;
		height: 65px;
		width:65px;
		vertical-align: middle;
	}

/*logo text*/
	.logo {font-size: 30px;
		color: #2b3f4c;
		padding-top: 40px;
		padding-bottom: 40px;
	}

/* this is to make text white and font size20 pixels*/
	.heroText{
		color: #fff;
		font-size: 20px;
		line-height: 200%;
	}

/* This is the hero image section */
	.hero {
		background: #e77e04 center no-repeat;
		background-image: url("../images/intro_bg.jpg");
		background-size: cover;
		padding: 75px 0;
	}
/*this is the 'download now' button in the hero section*/
	.download {
		font-size: 20px;
		color: #e77e04;
		padding: 10px 30px;
		border-radius: 5px;
		background-color: #fff;
		border-color: #fff;
		text-transform: uppercase;
	}

/*code for three options boxes*/
	.options {
		padding: 100px 20px 100px 20px;
		text-align: center;
		line-height: 150%;
	}

	.options h4:before {
		background: url('../images/icon_sprite.png');
		content: '';
		display: block;	
	}

	.icon-tagBig h4:before {
		background-position: 0 -120px;
		height: 70px; 
		width:70px;
		margin: 0 auto 20px;
	}

	.icon-cloudBig h4:before {
		background-position: -80px -120px;
		height: 70px; 
		width:74px;
		margin: 0 auto 20px;
	}

	.icon-mapBig h4:before {
		background-position: -160px -120px;
		height: 70px; 
		width:50px;
		margin: 0 auto 20px;
	}




/* This is the gray color strip */
	.gallerystrip {
		background: #eee center no-repeat;
		background-size: cover;
		padding: 75px 0;
	
	}

.gallery {
	
}

.photos {
	padding: 5px;
}

hr {
	color: #eee;
	border-right-width: 1px;
}

/* This is the footer*/
	.footerStrip {
		height: 200px;
	}

/* text in footer*/
.disclosureText {
	font-size: 16px;
	color: #2b3f4c;
}

/* copyright text in footer*/
.copyText {
	color: #777
}

/* This is the download now section color strip */
	.downloadStrip {
		height: 300px;
		text-align: center;
	}

.download_button {
	background: black url(../images/icon_sprite.png) no-repeat;
	display: inline-block;
	height: 60px;
	width: 200px;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	border-radius: 5px;

}

.icon-apple {
	background-position: center -200px;
}

.icon-google {
	background-position: center -260px;
}

.icon-amazon {
	background-position: center -320px;	
}

.social_button {
	background: black url(../images/icon_sprite.png) no-repeat;
	display: inline-block;
	height: 40px;
	width: 40px;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	border-radius: 5px;
}

.icon-facebook {
	background-position: -80px 0; 
}

.icon-twitter {
	background-position: -120px 0;
}

.icon-googleplus {
	background-position: -160px 0;
}




.intro-phone:before {

}











