html,

	body {
		font-family: "Lato", Helvetica, sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Sanchez", Georgia, serif;
	}

	h1 {
		text-align: center;
		font-size: 60px;
		color: #fff;
	}
	
	h2 {
		text-align: center;
		font-size: 32px;
	}
	
	h3 {
		text-align: left;
		font-size: 26px;
	}

	img {
		padding: 0px;
	}

	.img_block {
		display: inline-block;
		width:40%;
	}

	header {
		background-color: #222;
		background-image: url("images/header.jpg");
	}

	li {
		padding: 20px;
		border-bottom: solid 2px #9B761C;
	}

	footer {
		padding: 75px;
	}


	.box {
		display: inline-block;
	}

	.box2 {
		display: block;
	}

	.center {
		margin: 0 auto;
	}

	.last {
		border-bottom: none;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	/* This is the address*/
	.address {
		line-height: 150%;
	}

	/* This is for menu lists, hours and locations section and the image*/
	.container_thin {
		width: 33%;
		margin: 0 15px;
	}

	/* Background for footer*/
	.foot_back {
		background-color: #222;
		clear: both;
		overflow: hidden;
	}

	/* This is for the text in the footer*/
	.foot_font {
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;
		width: 40%;
		margin: 15px 0 0;
	}

	/* This is the width of the third section of the page - Hours */
	.container_C {
		width: 900px;
		clear: both;
		overflow: hidden;
		padding: 50px 0;
	}

	/* This is the Get Directions box*/
	.get {        
		font-size: 16px;
		color: #AC8420;
		border-style:solid;
		border-width: 2px;
		border-color: #AC8420;
		padding: 15px;
		width: 140px;
		text-align: center;

	}

	/* This is the hours and phone number*/
	.hours {
		font-size: 16px;
		color: #666;
	}

	.info {
		padding: 0px;
	}

	/* This is to style the intro copy in the header */
	.intro {
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		color: #ccc;
		font-weight: 400;
	}

	/* This is the header image section */
	.intro_image {
		background-color: #222;
		background-image: url("../images/header.jpg");
		background-repeat: no-repeat;
		background-size: 100% auto;
		padding: 70px;
	}

	/* This is to center the logo when used */
	.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
	}

	/* This is the width fo the second section */
	.container_B {
		width: 850px;
	}


	/* This is the background for the second section - the menu*/
	.menu_back{
		background-color: #AC8420;
		padding: 60px 0;
	}

	/* Styling of hte menu items*/
	.menu_items {
		list-style: none;
		color: #fff;
		width: 300px;
		font-size: 16px;

	}
	
	/* Styling of the prices */
	.price {
			color: #DECC9C;
		}
	
	.foot_text_left { 
		text-align: left;
	}
	
	.foot_text_right {
		text-align: right;
	}




	

	









