html,

	body {
		font-family: "Lato", Helvetica, sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Sanchez", Georgia, serif;
	}

	h1 {
		text-align: center;
		font-size: 60px;
		color: #fff;
	}
	
	h2 {
		text-align: center;
		font-size: 32px;
	}
	
	h3 {
		text-align: left;
		font-size: 26px;
	}

	img {
		padding: 40px;
	}

	header {
		background-image: url("images/header.jpg");
	}

	li {
		padding: 20px;
		border-bottom: solid 2px #9B761C;
	}

	.box {
		display: inline-block;
	}

	.center {
		margin: 0 auto;
	}

	.last {
		border-bottom: none;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}


	.container_thin {
		width: 400px;
	}

	.foot_back {
		background-color: #222;
	}

	.foot_font {
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;
	}

	.directions {
		width: 900px;
	}

	.get {
		font-size: 16px;
		color: #AC8420;
		border-style:solid;
		border-width: 2px;
		border-color: #AC8420;
		padding: 10px;
		width: 120px;
		text-align: center;

	}

	.hours {
		font-size: 16px;
		color: #666;
	}

	.info {
		padding: 40px;
		letter-spacing: 2px;
	}

	.intro {
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		color: #fff;
	}

	.intro_image {
		background-color: #222;
		background-image: url("../images/header.jpg");
		background-repeat: no-repeat;
		background-size: 100% auto;
		padding: 80px;
	}


	.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
	}


	.menu_box {
		width: 850px;
	}



	.menu_back{
		background-color: #AC8420;
		padding: 60px;
	}

	.price {
		color: #DECC9C;
	}

	.table_menu {
		list-style: none;
		color: #fff;
		width: 300px;
	}
	

	

	




	

	









