
html,

body {
	font-family: Georgia, serif;
	font-size: 20px;
	color: #222;
	width: 800px;
	margin: 0 auto;
}

h1 {font-family: "open sans";
	font-weight: 800;
	text-align: center;
	font-size: 60px;
}

h2 {font-family: "open sans";
	font-weight: 800;
	text-align: left;
	font-size: 36px;
}

h3 {font-family: "open sans";
	font-weight: 800;
	text-align: left;
	font-size: 28px;

}

.right {float: right;
}

.intro {
	font-size: 16px;
}

.sub-bullets-1 {
	font-size: 16px;
	color: #666;
}

.sub_title {
	text-align: center;
	color: #999;
}

.photo {
	border: 2px solid #ccc;
	width: 974px;
	padding: 0;
	margin: 0 auto;
}

.photo_caption {
	width: 800px;
	margin: 0 auto;
	font-family: "open sans";
	font-size: 14px;
	color: #666;
}

.photo2 {
	border: 2px solid #ccc;
	width: 275px;
	padding: 0;
	margin: 5px;
}

.photo_caption2 {
	width: 275px;
	margin: 0 auto;
	font-family: "open sans";
	font-size: 14px;
	color: #666;
}

.table-of-contents {
	width: 800px;
	margin: 0 auto;
	border: #ccc solid;
	border-width: 2px 0px 2px 0px;
	padding: 50px;
	margin-top: 50px;

}

.TOC_Title {
	font-family: "Open Sans";
	font-weight: 800;
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
}


.special_quote{
	border-left: 10px solid #e3e3e3;
	background: #f6f6f6;
	font-size: 20px;
	color: #222;


	


}
